*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.pointer-events-none {
  pointer-events: none;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  inset: 0rem;
}
.bottom-0 {
  bottom: 0rem;
}
.left-0 {
  left: 0rem;
}
.right-0 {
  right: 0rem;
}
.right-input-side-spacing {
  right: 0.75rem;
}
.top-0 {
  top: 0rem;
}
.top-1\/2 {
  top: 50%;
}
.top-\[50\%\] {
  top: 50%;
}
.z-10 {
  z-index: 10;
}
.m-32 {
  margin: 8rem;
}
.m-8 {
  margin: 2rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mb-1-5 {
  margin-bottom: 0.375rem;
}
.mb-2-5 {
  margin-bottom: 0.625rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mt-1-5 {
  margin-top: 0.375rem;
}
.mt-8 {
  margin-top: 2rem;
}
.box-content {
  box-sizing: content-box;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-1 {
  height: 0.25rem;
}
.h-10 {
  height: 2.5rem;
}
.h-12 {
  height: 3rem;
}
.h-16 {
  height: 4rem;
}
.h-2-5 {
  height: 0.625rem;
}
.h-3 {
  height: 0.75rem;
}
.h-3-5 {
  height: 0.875rem;
}
.h-4 {
  height: 1rem;
}
.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-72 {
  height: 18rem;
}
.h-8 {
  height: 2rem;
}
.h-\[--visual-viewport-height\] {
  height: var(--visual-viewport-height);
}
.h-full {
  height: 100%;
}
.h-px {
  height: 0.0625rem;
}
.h-screen {
  height: 100vh;
}
.min-h-0 {
  min-height: 0rem;
}
.w-1 {
  width: 0.25rem;
}
.w-10 {
  width: 2.5rem;
}
.w-11 {
  width: 2.75rem;
}
.w-16 {
  width: 4rem;
}
.w-2-5 {
  width: 0.625rem;
}
.w-3 {
  width: 0.75rem;
}
.w-3-5 {
  width: 0.875rem;
}
.w-4 {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-8 {
  width: 2rem;
}
.w-80 {
  width: 20rem;
}
.w-auto {
  width: auto;
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.min-w-\[10rem\] {
  min-width: 10rem;
}
.max-w-3-5xs {
  max-width: 9.75rem;
}
.max-w-3xs {
  max-width: 12rem;
}
.max-w-4-5xs {
  max-width: 7rem;
}
.max-w-64 {
  max-width: 16rem;
}
.max-w-modal {
  max-width: 32.5rem;
}
.max-w-toast {
  max-width: 45rem;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@keyframes loader-spin {

  to {
    transform: rotate(360deg);
  }
}
.animate-loader-spin {
  animation: loader-spin 1s linear infinite;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-icon-to-label-spacing {
  gap: 0.25rem;
}
.self-stretch {
  align-self: stretch;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-ellipsis {
  text-overflow: ellipsis;
}
.hyphens-auto {
  -webkit-hyphens: auto;
          hyphens: auto;
}
.rounded-button-rounding {
  border-radius: 0.375rem;
}
.rounded-full {
  border-radius: 624.9375rem;
}
.rounded-input-rounding {
  border-radius: 0.375rem;
}
.rounded-ml {
  border-radius: 0.75rem;
}
.rounded-sm {
  border-radius: 0.5rem;
}
.rounded-xs {
  border-radius: 0.25rem;
}
.border {
  border-width: 1px;
}
.border-2 {
  border-width: 2px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-elevation-outline-1 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-elevation-outline-2 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.border-elevation-surface-2 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
}
.border-info-error-outline {
  --tw-border-opacity: 1;
  border-color: rgb(232 94 75 / var(--tw-border-opacity));
}
.border-info-success-outline {
  --tw-border-opacity: 1;
  border-color: rgb(74 222 129 / var(--tw-border-opacity));
}
.border-info-warning-outline {
  --tw-border-opacity: 1;
  border-color: rgb(251 151 36 / var(--tw-border-opacity));
}
.border-interactive-icon-idle {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}
.border-interactive-outlined-idle {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}
.border-transparent {
  border-color: transparent;
}
.border-b-elevation-outline-1 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.bg-elevation-background {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-elevation-outline-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.bg-elevation-surface-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.bg-elevation-surface-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.bg-info-error {
  --tw-bg-opacity: 1;
  background-color: rgb(212 63 43 / var(--tw-bg-opacity));
}
.bg-info-success {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}
.bg-info-warning {
  --tw-bg-opacity: 1;
  background-color: rgb(245 136 11 / var(--tw-bg-opacity));
}
.bg-interactive-icon-idle {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
.bg-interactive-icon-on {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-interactive-primary-idle {
  --tw-bg-opacity: 1;
  background-color: rgb(43 81 212 / var(--tw-bg-opacity));
}
.bg-interactive-secondary-idle {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
.bg-interactive-tertiary-idle {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-opacity-80 {
  --tw-bg-opacity: 0.8;
}
.fill-current {
  fill: currentColor;
}
.p-0 {
  padding: 0rem;
}
.p-1 {
  padding: 0.25rem;
}
.p-1-5 {
  padding: 0.375rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-8 {
  padding: 2rem;
}
.p-height-l {
  padding: 1.25rem;
}
.p-height-m {
  padding: 1rem;
}
.p-height-s {
  padding: 0.625rem;
}
.p-height-xs {
  padding: 0.125rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-1-5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-3-5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}
.py-height-s {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.pr-11 {
  padding-right: 2.75rem;
}
.pt-10 {
  padding-top: 2.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.font-inter {
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.font-syne {
  font-family: var(--font-syne), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.text-label-1 {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.0016em;
}
.text-label-2 {
  font-size: 0.875rem;
  line-height: 1.7143;
  letter-spacing: -0.0014em;
}
.text-label-3 {
  font-size: 0.75rem;
  line-height: 1.3333;
  letter-spacing: -0.0012em;
}
.text-mobile-body-1 {
  font-size: 1.125rem;
  line-height: 1.5556;
  letter-spacing: -0.0018em;
}
.text-mobile-body-2 {
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: -0.0016em;
}
.text-mobile-body-3 {
  font-size: 0.9375rem;
  line-height: 1.7333;
  letter-spacing: -0.0015em;
}
.text-mobile-body-4 {
  font-size: 0.875rem;
  line-height: 1.7143;
  letter-spacing: -0.0014em;
}
.text-mobile-headline-1 {
  font-size: 2rem;
  line-height: 1.1875;
  letter-spacing: 0em;
}
.text-mobile-title-1 {
  font-size: 1.75rem;
  line-height: 1.2857;
  letter-spacing: 0em;
}
.text-mobile-title-2 {
  font-size: 1.5rem;
  line-height: 1.3333;
  letter-spacing: 0em;
}
.text-mobile-title-3 {
  font-size: 1.125rem;
  line-height: 1.4444;
  letter-spacing: 0em;
}
.text-mobile-title-4 {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0em;
}
.text-mobile-title-5 {
  font-size: 0.875rem;
  line-height: 1.2857;
  letter-spacing: 0em;
}
.text-mobile-title-6 {
  font-size: 0.875rem;
  line-height: 1.2857;
  letter-spacing: 0em;
}
.font-body-prominent-1 {
  font-weight: 500;
}
.font-body-prominent-2 {
  font-weight: 600;
}
.font-headings-default {
  font-weight: 500;
}
.font-headings-prominent-1 {
  font-weight: 600;
}
.font-labels-default {
  font-weight: 500;
}
.font-labels-prominent-1 {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
.text-info-error {
  --tw-text-opacity: 1;
  color: rgb(212 63 43 / var(--tw-text-opacity));
}
.text-info-success {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity));
}
.text-info-warning {
  --tw-text-opacity: 1;
  color: rgb(245 136 11 / var(--tw-text-opacity));
}
.text-interactive-icon-idle {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-interactive-icon-on {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-interactive-outlined-on {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.text-interactive-primary-idle {
  --tw-text-opacity: 1;
  color: rgb(43 81 212 / var(--tw-text-opacity));
}
.text-interactive-primary-on {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-interactive-secondary-idle {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.text-interactive-secondary-on {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-interactive-text-disabled {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-interactive-text-on-bg {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
.text-interactive-text-on-bg-2 {
  --tw-text-opacity: 1;
  color: rgb(43 81 212 / var(--tw-text-opacity));
}
.text-interactive-text-on-inverted {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-text-default-primary {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.text-text-default-secondary {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-text-default-tertiary {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-text-inverted-tertiary {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}
.underline {
  text-decoration-line: underline;
}
.opacity-20 {
  opacity: 0.2;
}
.shadow-2 {
  --tw-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0px 1px 3px 0px var(--tw-shadow-color), 0px 1px 2px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-4 {
  --tw-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0px 10px 15px -3px var(--tw-shadow-color), 0px 4px 6px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-5 {
  --tw-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.10), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  --tw-shadow-colored: 0px 20px 25px -5px var(--tw-shadow-color), 0px 10px 10px -5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.\!outline-none {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}
.before\:top-1\/2::before {
  content: var(--tw-content);
  top: 50%;
}
.before\:m-0-5::before {
  content: var(--tw-content);
  margin: 0.125rem;
}
.before\:block::before {
  content: var(--tw-content);
  display: block;
}
.before\:aspect-square::before {
  content: var(--tw-content);
  aspect-ratio: 1 / 1;
}
.before\:h-1::before {
  content: var(--tw-content);
  height: 0.25rem;
}
.before\:h-5::before {
  content: var(--tw-content);
  height: 1.25rem;
}
.before\:w-full::before {
  content: var(--tw-content);
  width: 100%;
}
.before\:translate-y-\[-50\%\]::before {
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.before\:rounded-full::before {
  content: var(--tw-content);
  border-radius: 624.9375rem;
}
.before\:bg-elevation-outline-1::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.before\:bg-interactive-icon-on::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.before\:transition-transform::before {
  content: var(--tw-content);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}
.active\:border-interactive-outlined-pressed:active {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.active\:bg-interactive-primary-pressed:active {
  --tw-bg-opacity: 1;
  background-color: rgb(106 161 240 / var(--tw-bg-opacity));
}
.active\:bg-interactive-secondary-pressed:active {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.active\:text-interactive-icon-pressed:active {
  --tw-text-opacity: 1;
  color: rgb(106 161 240 / var(--tw-text-opacity));
}
.active\:text-interactive-outlined-pressed:active {
  --tw-text-opacity: 1;
  color: rgb(71 127 234 / var(--tw-text-opacity));
}
.active\:text-interactive-primary-pressed:active {
  --tw-text-opacity: 1;
  color: rgb(106 161 240 / var(--tw-text-opacity));
}
.active\:text-interactive-text-pressed:active {
  --tw-text-opacity: 1;
  color: rgb(154 194 246 / var(--tw-text-opacity));
}
.group:active .group-active\:text-interactive-text-pressed {
  --tw-text-opacity: 1;
  color: rgb(154 194 246 / var(--tw-text-opacity));
}
.group[data-selection-mode='single'] .group-data-\[selection-mode\=\'single\'\]\:hidden {
  display: none;
}
.group[data-placement="left"] .group-placement-left\:hidden {
  display: none;
}
.group[data-placement="left"] .group-placement-left\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group[data-placement="right"] .group-placement-right\:hidden {
  display: none;
}
.group[data-placement="top"] .group-placement-top\:hidden {
  display: none;
}
.group[data-placement="top"] .group-placement-top\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group[data-placement="bottom"] .group-placement-bottom\:hidden {
  display: none;
}
.group:where([data-rac])[data-open] .group-open\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group:where(:not([data-rac]))[open] .group-open\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@keyframes drawer-slide {

  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
.entering\:animate-drawer-enter[data-entering] {
  animation: drawer-slide 0.3s;
}
@keyframes drawer-slide {

  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
.exiting\:animate-drawer-exit[data-exiting] {
  animation: drawer-slide 0.3s reverse;
}
.group:where([data-rac])[data-indeterminate] .group-indeterminate\:block {
  display: block;
}
.group:where([data-rac])[data-indeterminate] .group-indeterminate\:border-interactive-icon-toggled {
  --tw-border-opacity: 1;
  border-color: rgb(43 81 212 / var(--tw-border-opacity));
}
.group:where([data-rac])[data-indeterminate] .group-indeterminate\:bg-interactive-icon-toggled {
  --tw-bg-opacity: 1;
  background-color: rgb(43 81 212 / var(--tw-bg-opacity));
}
.group:where(:not([data-rac])):indeterminate .group-indeterminate\:block {
  display: block;
}
.group:where(:not([data-rac])):indeterminate .group-indeterminate\:border-interactive-icon-toggled {
  --tw-border-opacity: 1;
  border-color: rgb(43 81 212 / var(--tw-border-opacity));
}
.group:where(:not([data-rac])):indeterminate .group-indeterminate\:bg-interactive-icon-toggled {
  --tw-bg-opacity: 1;
  background-color: rgb(43 81 212 / var(--tw-bg-opacity));
}
.invalid\:border:where([data-rac])[data-invalid] {
  border-width: 1px;
}
.invalid\:border-info-error-outline:where([data-rac])[data-invalid] {
  --tw-border-opacity: 1;
  border-color: rgb(232 94 75 / var(--tw-border-opacity));
}
.invalid\:border:where(:not([data-rac])):invalid {
  border-width: 1px;
}
.invalid\:border-info-error-outline:where(:not([data-rac])):invalid {
  --tw-border-opacity: 1;
  border-color: rgb(232 94 75 / var(--tw-border-opacity));
}
.focus-within\:border:where([data-rac])[data-focus-within] {
  border-width: 1px;
}
.focus-within\:border-interactive-primary-idle:where([data-rac])[data-focus-within] {
  --tw-border-opacity: 1;
  border-color: rgb(43 81 212 / var(--tw-border-opacity));
}
.focus-within\:outline-none:where([data-rac])[data-focus-within] {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus-within\:outline:where([data-rac])[data-focus-within] {
  outline-style: solid;
}
.focus-within\:outline-1:where([data-rac])[data-focus-within] {
  outline-width: 1px;
}
.focus-within\:outline-interactive-primary-idle:where([data-rac])[data-focus-within] {
  outline-color: #2b51d4;
}
.focus-within\:border:where(:not([data-rac])):focus-within {
  border-width: 1px;
}
.focus-within\:border-interactive-primary-idle:where(:not([data-rac])):focus-within {
  --tw-border-opacity: 1;
  border-color: rgb(43 81 212 / var(--tw-border-opacity));
}
.focus-within\:outline-none:where(:not([data-rac])):focus-within {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus-within\:outline:where(:not([data-rac])):focus-within {
  outline-style: solid;
}
.focus-within\:outline-1:where(:not([data-rac])):focus-within {
  outline-width: 1px;
}
.focus-within\:outline-interactive-primary-idle:where(:not([data-rac])):focus-within {
  outline-color: #2b51d4;
}
.hover\:border:where([data-rac])[data-hovered] {
  border-width: 1px;
}
.hover\:border-elevation-outline-1:where([data-rac])[data-hovered] {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.hover\:border-interactive-outlined-hover:where([data-rac])[data-hovered] {
  --tw-border-opacity: 1;
  border-color: rgb(43 81 212 / var(--tw-border-opacity));
}
.hover\:border-interactive-primary-hover:where([data-rac])[data-hovered] {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.hover\:bg-interactive-primary-hover:where([data-rac])[data-hovered] {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.hover\:bg-interactive-secondary-hover:where([data-rac])[data-hovered] {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
.hover\:bg-interactive-tertiary-hover:where([data-rac])[data-hovered] {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.hover\:text-interactive-icon-hover:where([data-rac])[data-hovered] {
  --tw-text-opacity: 1;
  color: rgb(71 127 234 / var(--tw-text-opacity));
}
.hover\:text-interactive-outlined-hover:where([data-rac])[data-hovered] {
  --tw-text-opacity: 1;
  color: rgb(43 81 212 / var(--tw-text-opacity));
}
.hover\:text-interactive-primary-hover:where([data-rac])[data-hovered] {
  --tw-text-opacity: 1;
  color: rgb(71 127 234 / var(--tw-text-opacity));
}
.hover\:text-interactive-text-hover:where([data-rac])[data-hovered] {
  --tw-text-opacity: 1;
  color: rgb(106 161 240 / var(--tw-text-opacity));
}
.hover\:border:where(:not([data-rac])):hover {
  border-width: 1px;
}
.hover\:border-elevation-outline-1:where(:not([data-rac])):hover {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.hover\:border-interactive-outlined-hover:where(:not([data-rac])):hover {
  --tw-border-opacity: 1;
  border-color: rgb(43 81 212 / var(--tw-border-opacity));
}
.hover\:border-interactive-primary-hover:where(:not([data-rac])):hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.hover\:bg-interactive-primary-hover:where(:not([data-rac])):hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.hover\:bg-interactive-secondary-hover:where(:not([data-rac])):hover {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
.hover\:bg-interactive-tertiary-hover:where(:not([data-rac])):hover {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.hover\:text-interactive-icon-hover:where(:not([data-rac])):hover {
  --tw-text-opacity: 1;
  color: rgb(71 127 234 / var(--tw-text-opacity));
}
.hover\:text-interactive-outlined-hover:where(:not([data-rac])):hover {
  --tw-text-opacity: 1;
  color: rgb(43 81 212 / var(--tw-text-opacity));
}
.hover\:text-interactive-primary-hover:where(:not([data-rac])):hover {
  --tw-text-opacity: 1;
  color: rgb(71 127 234 / var(--tw-text-opacity));
}
.hover\:text-interactive-text-hover:where(:not([data-rac])):hover {
  --tw-text-opacity: 1;
  color: rgb(106 161 240 / var(--tw-text-opacity));
}
.group:where([data-rac])[data-hovered] .group-hover\:border-interactive-icon-hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.group:where([data-rac])[data-hovered] .group-hover\:bg-interactive-icon-hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.group:where([data-rac])[data-hovered] .group-hover\:text-interactive-text-hover {
  --tw-text-opacity: 1;
  color: rgb(106 161 240 / var(--tw-text-opacity));
}
.group:where(:not([data-rac])):hover .group-hover\:border-interactive-icon-hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.group:where(:not([data-rac])):hover .group-hover\:bg-interactive-icon-hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.group:where(:not([data-rac])):hover .group-hover\:text-interactive-text-hover {
  --tw-text-opacity: 1;
  color: rgb(106 161 240 / var(--tw-text-opacity));
}
.group:where([data-rac])[data-indeterminate]:where([data-rac])[data-hovered] .group-indeterminate\:group-hover\:border-interactive-icon-hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.group:where([data-rac])[data-indeterminate]:where([data-rac])[data-hovered] .group-indeterminate\:group-hover\:bg-interactive-icon-hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.group:where(:not([data-rac])):indeterminate:where([data-rac])[data-hovered] .group-indeterminate\:group-hover\:border-interactive-icon-hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.group:where([data-rac])[data-indeterminate]:where(:not([data-rac])):hover .group-indeterminate\:group-hover\:border-interactive-icon-hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.group:where(:not([data-rac])):indeterminate:where(:not([data-rac])):hover .group-indeterminate\:group-hover\:border-interactive-icon-hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.group:where([data-rac])[data-indeterminate]:where(:not([data-rac])):hover .group-indeterminate\:group-hover\:border-interactive-icon-hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.group:where(:not([data-rac])):indeterminate:where(:not([data-rac])):hover .group-indeterminate\:group-hover\:border-interactive-icon-hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.group:where(:not([data-rac])):indeterminate:where([data-rac])[data-hovered] .group-indeterminate\:group-hover\:bg-interactive-icon-hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.group:where([data-rac])[data-indeterminate]:where(:not([data-rac])):hover .group-indeterminate\:group-hover\:bg-interactive-icon-hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.group:where(:not([data-rac])):indeterminate:where(:not([data-rac])):hover .group-indeterminate\:group-hover\:bg-interactive-icon-hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.group:where([data-rac])[data-indeterminate]:where(:not([data-rac])):hover .group-indeterminate\:group-hover\:bg-interactive-icon-hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.group:where(:not([data-rac])):indeterminate:where(:not([data-rac])):hover .group-indeterminate\:group-hover\:bg-interactive-icon-hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.focus\:border:where([data-rac])[data-focused] {
  border-width: 1px;
}
.focus\:border-interactive-primary-idle:where([data-rac])[data-focused] {
  --tw-border-opacity: 1;
  border-color: rgb(43 81 212 / var(--tw-border-opacity));
}
.focus\:bg-elevation-background:where([data-rac])[data-focused] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.focus\:text-text-default-primary:where([data-rac])[data-focused] {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.focus\:outline-none:where([data-rac])[data-focused] {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus\:border:where(:not([data-rac])):focus {
  border-width: 1px;
}
.focus\:border-interactive-primary-idle:where(:not([data-rac])):focus {
  --tw-border-opacity: 1;
  border-color: rgb(43 81 212 / var(--tw-border-opacity));
}
.focus\:bg-elevation-background:where(:not([data-rac])):focus {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.focus\:text-text-default-primary:where(:not([data-rac])):focus {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.focus\:outline-none:where(:not([data-rac])):focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus-visible\:bg-interactive-primary-focus:where([data-rac])[data-focus-visible] {
  --tw-bg-opacity: 1;
  background-color: rgb(106 161 240 / var(--tw-bg-opacity));
}
.focus-visible\:text-interactive-primary-focus:where([data-rac])[data-focus-visible] {
  --tw-text-opacity: 1;
  color: rgb(106 161 240 / var(--tw-text-opacity));
}
.focus-visible\:text-interactive-text-on-inverted:where([data-rac])[data-focus-visible] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.focus-visible\:outline:where([data-rac])[data-focus-visible] {
  outline-style: solid;
}
.focus-visible\:outline-1:where([data-rac])[data-focus-visible] {
  outline-width: 1px;
}
.focus-visible\:outline-2:where([data-rac])[data-focus-visible] {
  outline-width: 2px;
}
.focus-visible\:outline-offset-1:where([data-rac])[data-focus-visible] {
  outline-offset: 1px;
}
.focus-visible\:outline-offset-2:where([data-rac])[data-focus-visible] {
  outline-offset: 2px;
}
.focus-visible\:outline-interactive-icon-focus:where([data-rac])[data-focus-visible] {
  outline-color: #6aa1f0;
}
.focus-visible\:outline-interactive-outlined-focus:where([data-rac])[data-focus-visible] {
  outline-color: #6aa1f0;
}
.focus-visible\:outline-interactive-primary-focus:where([data-rac])[data-focus-visible] {
  outline-color: #6aa1f0;
}
.focus-visible\:outline-interactive-secondary-focus:where([data-rac])[data-focus-visible] {
  outline-color: #6aa1f0;
}
.focus-visible\:outline-interactive-tertiary-focus:where([data-rac])[data-focus-visible] {
  outline-color: #6aa1f0;
}
.focus-visible\:bg-interactive-primary-focus:where(:not([data-rac])):focus-visible {
  --tw-bg-opacity: 1;
  background-color: rgb(106 161 240 / var(--tw-bg-opacity));
}
.focus-visible\:text-interactive-primary-focus:where(:not([data-rac])):focus-visible {
  --tw-text-opacity: 1;
  color: rgb(106 161 240 / var(--tw-text-opacity));
}
.focus-visible\:text-interactive-text-on-inverted:where(:not([data-rac])):focus-visible {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.focus-visible\:outline:where(:not([data-rac])):focus-visible {
  outline-style: solid;
}
.focus-visible\:outline-1:where(:not([data-rac])):focus-visible {
  outline-width: 1px;
}
.focus-visible\:outline-2:where(:not([data-rac])):focus-visible {
  outline-width: 2px;
}
.focus-visible\:outline-offset-1:where(:not([data-rac])):focus-visible {
  outline-offset: 1px;
}
.focus-visible\:outline-offset-2:where(:not([data-rac])):focus-visible {
  outline-offset: 2px;
}
.focus-visible\:outline-interactive-icon-focus:where(:not([data-rac])):focus-visible {
  outline-color: #6aa1f0;
}
.focus-visible\:outline-interactive-outlined-focus:where(:not([data-rac])):focus-visible {
  outline-color: #6aa1f0;
}
.focus-visible\:outline-interactive-primary-focus:where(:not([data-rac])):focus-visible {
  outline-color: #6aa1f0;
}
.focus-visible\:outline-interactive-secondary-focus:where(:not([data-rac])):focus-visible {
  outline-color: #6aa1f0;
}
.focus-visible\:outline-interactive-tertiary-focus:where(:not([data-rac])):focus-visible {
  outline-color: #6aa1f0;
}
.pressed\:bg-interactive-tertiary-pressed[data-pressed] {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}
.group[data-pressed] .group-pressed\:border-interactive-icon-pressed {
  --tw-border-opacity: 1;
  border-color: rgb(106 161 240 / var(--tw-border-opacity));
}
.group[data-pressed] .group-pressed\:bg-interactive-icon-pressed {
  --tw-bg-opacity: 1;
  background-color: rgb(106 161 240 / var(--tw-bg-opacity));
}
.group:where([data-rac])[data-indeterminate][data-pressed] .group-indeterminate\:group-pressed\:border-interactive-icon-pressed {
  --tw-border-opacity: 1;
  border-color: rgb(106 161 240 / var(--tw-border-opacity));
}
.group:where([data-rac])[data-indeterminate][data-pressed] .group-indeterminate\:group-pressed\:bg-interactive-icon-pressed {
  --tw-bg-opacity: 1;
  background-color: rgb(106 161 240 / var(--tw-bg-opacity));
}
.group:where(:not([data-rac])):indeterminate[data-pressed] .group-indeterminate\:group-pressed\:border-interactive-icon-pressed {
  --tw-border-opacity: 1;
  border-color: rgb(106 161 240 / var(--tw-border-opacity));
}
.group:where(:not([data-rac])):indeterminate[data-pressed] .group-indeterminate\:group-pressed\:bg-interactive-icon-pressed {
  --tw-bg-opacity: 1;
  background-color: rgb(106 161 240 / var(--tw-bg-opacity));
}
.selected\:border-interactive-primary-idle[data-selected] {
  --tw-border-opacity: 1;
  border-color: rgb(43 81 212 / var(--tw-border-opacity));
}
.selected\:bg-interactive-outlined-toggled[data-selected] {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
.selected\:bg-interactive-primary-idle[data-selected] {
  --tw-bg-opacity: 1;
  background-color: rgb(43 81 212 / var(--tw-bg-opacity));
}
.selected\:bg-interactive-tertiary-toggled[data-selected] {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.selected\:text-interactive-outlined-on-toggled[data-selected] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.selected\:text-interactive-tertiary-on-toggled[data-selected] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.selected\:text-interactive-text-on-inverted[data-selected] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.selected\:hover\:bg-interactive-outlined-hover:where([data-rac])[data-hovered][data-selected] {
  --tw-bg-opacity: 1;
  background-color: rgb(43 81 212 / var(--tw-bg-opacity));
}
.selected\:hover\:text-interactive-outlined-on-toggled:where([data-rac])[data-hovered][data-selected] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.selected\:hover\:text-interactive-tertiary-hover:where([data-rac])[data-hovered][data-selected] {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}
.selected\:hover\:bg-interactive-outlined-hover:where(:not([data-rac])):hover[data-selected] {
  --tw-bg-opacity: 1;
  background-color: rgb(43 81 212 / var(--tw-bg-opacity));
}
.selected\:hover\:text-interactive-outlined-on-toggled:where(:not([data-rac])):hover[data-selected] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.selected\:hover\:text-interactive-tertiary-hover:where(:not([data-rac])):hover[data-selected] {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}
.group[data-selected] .group-selected\:block {
  display: block;
}
.group[data-selected] .group-selected\:border-interactive-icon-toggled {
  --tw-border-opacity: 1;
  border-color: rgb(43 81 212 / var(--tw-border-opacity));
}
.group[data-selected] .group-selected\:bg-interactive-icon-toggled {
  --tw-bg-opacity: 1;
  background-color: rgb(43 81 212 / var(--tw-bg-opacity));
}
.group[data-selected] .group-selected\:before\:translate-x-4::before {
  content: var(--tw-content);
  --tw-translate-x: 1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group[data-selected]:where([data-rac])[data-hovered] .group-selected\:group-hover\:border-interactive-icon-hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.group[data-selected]:where([data-rac])[data-hovered] .group-selected\:group-hover\:bg-interactive-icon-hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.group[data-selected]:where(:not([data-rac])):hover .group-selected\:group-hover\:border-interactive-icon-hover {
  --tw-border-opacity: 1;
  border-color: rgb(71 127 234 / var(--tw-border-opacity));
}
.group[data-selected]:where(:not([data-rac])):hover .group-selected\:group-hover\:bg-interactive-icon-hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 127 234 / var(--tw-bg-opacity));
}
.group[data-selected][data-pressed] .group-selected\:group-pressed\:border-interactive-icon-pressed {
  --tw-border-opacity: 1;
  border-color: rgb(106 161 240 / var(--tw-border-opacity));
}
.group[data-selected][data-pressed] .group-selected\:group-pressed\:bg-interactive-icon-pressed {
  --tw-bg-opacity: 1;
  background-color: rgb(106 161 240 / var(--tw-bg-opacity));
}
.dragging\:bg-interactive-primary-pressed[data-dragging] {
  --tw-bg-opacity: 1;
  background-color: rgb(106 161 240 / var(--tw-bg-opacity));
}
.disabled\:border-interactive-outlined-disabled:where([data-rac])[data-disabled] {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}
.disabled\:bg-interactive-primary-disabled:where([data-rac])[data-disabled] {
  --tw-bg-opacity: 1;
  background-color: rgb(154 194 246 / var(--tw-bg-opacity));
}
.disabled\:bg-interactive-secondary-disabled:where([data-rac])[data-disabled] {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}
.disabled\:text-interactive-icon-disabled:where([data-rac])[data-disabled] {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.disabled\:text-interactive-outlined-disabled:where([data-rac])[data-disabled] {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.disabled\:text-interactive-tertiary-on-disabled:where([data-rac])[data-disabled] {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.disabled\:text-interactive-text-disabled:where([data-rac])[data-disabled] {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.selected\:disabled\:bg-interactive-outlined-disabled:where([data-rac])[data-disabled][data-selected] {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}
.disabled\:border-interactive-outlined-disabled:where(:not([data-rac])):disabled {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}
.disabled\:bg-interactive-primary-disabled:where(:not([data-rac])):disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(154 194 246 / var(--tw-bg-opacity));
}
.disabled\:bg-interactive-secondary-disabled:where(:not([data-rac])):disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}
.disabled\:text-interactive-icon-disabled:where(:not([data-rac])):disabled {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.disabled\:text-interactive-outlined-disabled:where(:not([data-rac])):disabled {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.disabled\:text-interactive-tertiary-on-disabled:where(:not([data-rac])):disabled {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.disabled\:text-interactive-text-disabled:where(:not([data-rac])):disabled {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.selected\:disabled\:bg-interactive-outlined-disabled:where(:not([data-rac])):disabled[data-selected] {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}
.group:where([data-rac])[data-disabled] .group-disabled\:border-interactive-icon-disabled {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}
.group:where([data-rac])[data-disabled] .group-disabled\:bg-interactive-icon-disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.group:where([data-rac])[data-disabled] .group-disabled\:text-interactive-text-disabled {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.group:where(:not([data-rac])):disabled .group-disabled\:border-interactive-icon-disabled {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}
.group:where(:not([data-rac])):disabled .group-disabled\:bg-interactive-icon-disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.group:where(:not([data-rac])):disabled .group-disabled\:text-interactive-text-disabled {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
@media (min-width: 37.5rem) {

  .t\:flex {
    display: flex;
  }

  .t\:hidden {
    display: none;
  }

  .t\:h-auto {
    height: auto;
  }

  .t\:w-auto {
    width: auto;
  }

  .t\:w-px {
    width: 0.0625rem;
  }

  .t\:flex-row {
    flex-direction: row;
  }

  .t\:justify-center {
    justify-content: center;
  }

  .t\:truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .t\:bg-elevation-background {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .t\:py-1-5 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }

  .t\:text-desktop-body-1 {
    font-size: 1.25rem;
    line-height: 1.8;
    letter-spacing: -0.002em;
  }

  .t\:text-desktop-body-2 {
    font-size: 1.125rem;
    line-height: 1.7778;
    letter-spacing: -0.0018em;
  }

  .t\:text-desktop-body-3 {
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: -0.0016em;
  }

  .t\:text-desktop-body-4 {
    font-size: 0.875rem;
    line-height: 1.7143;
    letter-spacing: -0.0014em;
  }

  .t\:text-desktop-headline-1 {
    font-size: 3.5rem;
    line-height: 1.2857;
    letter-spacing: 0em;
  }

  .t\:text-desktop-title-1 {
    font-size: 3rem;
    line-height: 1.25;
    letter-spacing: 0em;
  }

  .t\:text-desktop-title-2 {
    font-size: 2rem;
    line-height: 1.3125;
    letter-spacing: 0em;
  }

  .t\:text-desktop-title-3 {
    font-size: 1.75rem;
    line-height: 1.3571;
    letter-spacing: 0em;
  }

  .t\:text-desktop-title-4 {
    font-size: 1.375rem;
    line-height: 1.2727;
    letter-spacing: 0em;
  }

  .t\:text-desktop-title-5 {
    font-size: 1.125rem;
    line-height: 1.4444;
    letter-spacing: 0em;
  }

  .t\:text-desktop-title-6 {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0em;
  }
}